
            <div class="row">
                <aside class="col-md-3">
                    <h2>Coming Soon</h2>
                    <p>Come back soon for updates!</p>
                </aside>
                <section class="main col-md-9">
                    <article>
                        <h2>About</h2>
                        <p>
                            Hello, my name is Carmen and I am currently a first year computer programing and analysis student at Seneca College. This is for an assignment for my web development class.
                        </p>
                       
                    </article>
                </section>
            </div>
    
        <!-- Latest compiled and minified Bootstrap 5 JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </body>
</html>
