
<div class="row">
    <div class="col-md-12">
        <h2>Log In</h2>
        {{#if errorMessage}}
        <div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div> 
        {{else}}
        <form method="post" action="/login">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" type="text" id="userName" name="userName" placeholder="User Name" required value=""/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" type="password" id="password" name="password" placeholder="Password" required/>
                </div>
            </div>
        </div>

        <input class="btn btn-success pull-right" type="submit" value="Login"/>

        </form>
         {{/if}}
    </div>

</div>